#mwMovie {
	background:transparent url('../../images/office.png') scroll repeat;
	header{
	  	font-size: 15px;
	  	background: rgb(119,119,119); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(63,63,63,1) 37%, rgba(58,58,58,1) 42%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(37%,rgba(63,63,63,1)), color-stop(42%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(63,63,63,1) 37%,rgba(58,58,58,1) 42%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(63,63,63,1) 37%,rgba(58,58,58,1) 42%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(63,63,63,1) 37%,rgba(58,58,58,1) 42%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(119,119,119,1) 0%,rgba(63,63,63,1) 37%,rgba(58,58,58,1) 42%); /* W3C */
	}
	.box{
	  	border: 1px solid #FFF;


	  	-webkit-box-shadow: 1px 0px 22px rgba(255, 227, 255, 0.5);
		-moz-box-shadow:    1px 0px 22px rgba(255, 227, 255, 0.5);
		box-shadow:         1px 0px 22px rgba(255, 227, 255, 0.5);

	  	background: rgb(132,132,132); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(132,132,132,1) 0%, rgba(91,91,91,1) 1%, rgba(0,0,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,132,132,1)), color-stop(1%,rgba(91,91,91,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(132,132,132,1) 0%,rgba(91,91,91,1) 1%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(132,132,132,1) 0%,rgba(91,91,91,1) 1%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(132,132,132,1) 0%,rgba(91,91,91,1) 1%,rgba(0,0,0,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(132,132,132,1) 0%,rgba(91,91,91,1) 1%,rgba(0,0,0,1) 100%); /* W3C */
   }
   .main{
		background:none;
		position: relative;
	}
	.content {
			width: 95% !important;
			height:95%;
		}
	.videos {
		text-align: center;
		padding-bottom: 0;
		ul .videoBlock {
			text-align: center;
			display:inline-block;
			width: 14%;
			margin: 1%;
			vertical-align: middle;
			a .videolink {
				positon: relative;
				display: inline-block;
			}			
		}
	}
	.title {
		margin: 3%;
		font-size: 40px;
		color: #FF5C00;
		line-height: 1em;
	}
	.orangeButton {
		border-color: rgb(245, 247, 248);
		color: #fff;
		background: -webkit-linear-gradient(top, rgb(219, 150, 118) 0, rgb(223, 77, 20) 70%);
		text-shadow: #015da1 0 1px 1px;
	}

	.movieDes {
		font-size: 2em;
		line-height: 1.5em;
		color: rgb(150, 150, 150);
	}

	.big {
		font-size: 2em;
		line-height: 1.5em;
		//color: #FF5C00;
	}
}